<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rappel de retour de livre</title>
</head>
<body>
    <div>
        <h1>Rappel de retour de livre</h1>
        <p>
            Cher {{ customer.name }},
        </p>
        <p>
            Ceci est un rappel amical de retourner le livre emprunté à la bibliothèque. Merci!
        </p>
    </div>
</body>
</html>
